# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/EventManager/.vs/AAEventManager/v16/Browse.VC.opendb
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/ArkServerApi/v16/Browse.VC.db
/.vs/ArkServerApi/v16/.suo
/EventManager/.vs/AAEventManager/v16/Solution.VC.db-wal
/EventManager/.vs/AAEventManager/v16/Solution.VC.db-shm
/EventManager/.vs/AAEventManager/v16/Solution.VC.db
/EventManager/.vs/AAEventManager/v16/ipch/AutoPCH/a3b7c06276149ee3/DEATHMATCHEVENT.ipch
/EventManager/.vs/AAEventManager/v16/ipch/AutoPCH/73742b9af02fc2be/MAIN.ipch
/EventManager/.vs/AAEventManager/v16/ipch/AutoPCH/6865f9678f70027/TDMEVENT.ipch
/EventManager/.vs/AAEventManager/v16/ipch/AutoPCH/3a6939afb690a68/EVENTMANAGER.ipch
/EventManager/.vs/AAEventManager/v16/ipch/AutoPCH/239287f7b414804e/FSTRING.ipch
/EventManager/.vs/AAEventManager/v16/ipch/3f8189004d1081a1.ipch
/EventManager/.vs/AAEventManager/v16/Browse.VC.db-wal
/EventManager/.vs/AAEventManager/v16/Browse.VC.db-shm
/EventManager/.vs/AAEventManager/v16/Browse.VC.db
/EventManager/.vs/AAEventManager/v16/.suo
